.additional-goods__list {
  @include list-reset();
  @include mobile-padding();

  // border-top: 1px solid $color-list-border;
}

.additional-goods__title {
  position: relative;

  padding-top: 28px;
  padding-bottom: 34px;
  padding-left: 20px;
  margin: 0;

  @include text(24px, 24px);
  color: $secondary-color-text;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;
    left: 267px;

    height: 3px;
    margin-top: -1px;

    background-color: $secondary-color-bg;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__title {
    @include text(36px, 36px);
  }
}
