.additional-goods__wrap {
  @include mobile-padding();
}

.additional-goods__list {
  @include list-reset();
  margin-bottom: 39px;
}

@media (max-width: $mobile-width-only) {
  .additional-goods__title {
    position: relative;

    padding-top: 28px;
    padding-bottom: 34px;
    padding-left: 20px;
    margin: 0;

    @include text(24px, 24px);
    color: $secondary-color-text;

    &::after {
      content: "";

      position: absolute;
      top: 50%;
      right: 0;
      left: 267px;

      height: 3px;
      margin-top: -1px;

      background-color: $secondary-color-bg;
    }
  }
}

@media (min-width: $tablet-width) {
  .additional-goods {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 70px;
      left: 0;
      right: 0;

      display: block;
      height: 3px;

      background-color: $secondary-color-bg;
    }
  }

  .additional-goods__item {
    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  .additional-goods__title {
    max-width: 1280px;
    padding-top: 30px;

    @include tablet-padding();
    @include centering();
    margin-top: 0;
    margin-bottom: 50px;

    @include text(36px, 36px);
    color: $secondary-color-text;
  }

  .additional-goods__title-text {
    position: relative;

    display: block;
    width: 412px;
    padding-top: 18px;
    padding-right: 20px;
    padding-left: 37px;
    padding-bottom: 30px;

    background-color: $color-main-bg;

    z-index: 1;
  }

  .additional-goods__wrap {
    max-width: 1280px;

    @include tablet-padding();
    @include centering();
  }

  .additional-goods__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    &::before {
      top: 75px;
    }
  }

  .additional-goods__title {
    padding-top: 35px;
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 50px;
  }

  .additional-goods__title-text {
    width: 405px;
    padding-left: 30px;
  }

  .additional-goods__wrap {
    display: flex;
  }

  .additional-goods__list {
    margin-bottom: 0;
  }

  .additional-goods__item {
    margin-top: 0;
  }

  .additional-goods__special-offer {
    margin-left: 80px;
  }
}
