.advantages {
  padding-top: 17px;
  padding-bottom: 42px;

  @include mobile-padding();
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 27px;
}

.advantages__list {
  @include list-reset();
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  font-family: $secondary-font;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $secondary-color-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;

    z-index: 1;
  }

  &--bg-leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--bg-powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--bg-cutlery {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--bg-clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.advantages__text {
  position: relative;

  margin: 0;

  z-index: 1;
}

.advantages__br {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    max-width: 1280px;
    padding-top: 45px;
    padding-bottom: 57px;

    @include tablet-padding();
    @include centering();

    border-bottom: 1px solid $color-nav-border;
  }

  .advantages__title {
    margin-bottom: 72px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -89px;
    margin-left: -139px;

    counter-reset: myCounter;
  }

  .advantages__item {
    display: block;
    width: 245px;
    min-height: 228px;
    padding-top: 113px;
    padding-left: 0;
    margin-top: 89px;
    margin-left: 139px;
    margin-bottom: 0;

    @include text(16px, 24px);

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      top: -40px;
      right: 0;

      display: inline-block;

      @include text(281px, 281px);
      font-family: $main-font;
      color: $fifth-color-text;

      counter-increment: myCounter;
      content: counter(myCounter);
      z-index: 0;
    }

    &:first-child {
      &::after {
        right: 15px;
      }
    }
  }

  .advantages__br {
    display: inline;
  }
}

@media (min-width: 790px) {
  .advantages__item {
    flex-shrink: 0;
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 73px;
    padding-bottom: 27px;

    border-bottom: none;
  }

  .advantages__list {
    margin-left: -80px;

    counter-reset: myCounter;
  }

  .advantages__item {
    flex-grow: 0;

    width: 245px;
    margin-left: 80px;
  }
}
