.advantages {
  padding-top: 18px;
  padding-bottom: 42px;

  @include mobile-padding();
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 27px;
}

.advantages__list {
  @include list-reset();
}

.advantages__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 60px;
  padding-left: 80px;
  margin-bottom: 20px;

  font-family: $secondary-font;
  vertical-align: middle;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $secondary-color-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  &--bg-leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--bg-powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--bg-cutlery {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--bg-clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages__item {
    @include text(16px, 24px);
  }
}
