.button {
  color: $third-color-text;
  text-transform: uppercase;

  background-color: $secondary-color-bg;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $secondary-color-bg-hover;
  }

  &:active {
    color: $third-color-text-active;
  }
}
