.card {
  border-top: 1px solid $color-nav-border;
}

.card__wrapper {
  position: relative;

  @include mobile-view();
  padding-top: 20px;
  padding-bottom: 24px;

  @include centering();
}

.card__link {
  display: block;

  &:hover,
  &:focus {
    color: $secondary-color-text-hover;

    opacity: 0.8;
  }

  &:active {
    color: $secondary-color-text-active;

    opacity: 0.6;
  }
}

.card__link--title {
  width: 85px;
  margin-left: 50%;
  margin-bottom: 14px;
}

.card__title {
  margin: 0;

  @include text(16px, 20px);
  color: $secondary-color-text;
  text-transform: uppercase;
}

.card__link--wrap {
  position: absolute;
  top: 0;
  left: 20px;

  width: 140px;
  height: 144px;
}

.card__description-list {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 23px;

  @include text(12px, 16px);
  font-family: $secondary-font;

  border-collapse: collapse;
}

.card__description-tcell {
  padding: 0;
}

.card__description-tcell--value {
  text-align: right;
}

.card__make-order {
  display: block;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 10px;

  @include text(16px, 20px);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .card {
    background-color: $third-color-bg;
  }

  .card__title {
    @include text(20px, 20px);
  }

  .card__link--wrap {
    width: 324px;
    height: 172px;
  }

  .card__link--big {
    width: 324px;
    height: 208px;
  }

  .card__description-list {
    @include text(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .card__link--wrap {
    width: 245px;
    height: 172px;
  }

  .card__link--big {
    width: 245px;
    height: 208px;
  }
}
