.contacts__map-wrap {
  position: relative;

  height: 362px;
}

.contacts__iframe-map {
  position: relative;
  width: 100%;
  height: 362px;
  border: none;
  z-index: 1;
}

.contacts__map-box {
  position: absolute;
  top: 0;
  left: 50%;

  width: 320px;
  height: 362px;
  margin-left: -160px;

  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .contacts__map-wrap {

    height: 400px;
  }

  .contacts__iframe-map {
    height: 400px;
  }

  .contacts__map-box {
    width: 767px;
    height: 400px;
    margin-left: -384px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__dealers-box {
    position: absolute;
    top: 90px;
    left: 50%;
    right: auto;

    width: 1280px;
    margin-left: -640px;
    min-height: 197px;
  }

  .contacts__map-wrap {
    overflow: hidden;
  }

  .contacts__map-box {
    width: 1440px;
    margin-left: -720px;
  }

  .contacts__dealers {
    position: absolute;
    top: 0;
    left: 30px;

    z-index: 10;
  }
}
