.dealers-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-padding();
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: $color-main-bg;
}

.dealers-info--gray-bg {
  background-color: $third-color-bg;
}

.dealers-info__title {
  width: 140px;

  @include text(16px, 20px);
  color: $secondary-color-text;
  text-transform: uppercase;
}

.dealers-info__address {
  width: 140px;

  @include text(14px, 20px);
  font-family: $secondary-font;
}

.dealers-info__street {
  display: block;
}

@media (min-width: $tablet-width) {
  .dealers-info {
    align-items: flex-start;

    padding-top: 42px;
    padding-bottom: 40px;

    @include tablet-padding();
  }

  .dealers-info__title {
    width: 200px;
    padding-left: 40px;

    @include text(20px, 25px);
  }

  .dealers-info__address {
    width: 220px;
    padding-top: 2px;
    padding-right: 41px;

    @include text(16px, 20px);
    text-align: right;
  }

  .dealers-info__street {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .dealers-info {
    width: 570px;
  }

  .dealers-info--gray-bg {
    background-color: $color-main-bg;
  }

  .dealers-info__title {
    width: 210px;
    padding-top: 3px;
    padding-left: 48px;
  }

  .dealers-info__address {
    width: 215px;
    padding-top: 3px;
    padding-right: 50px;

    text-align: left;
  }
}
