.filters__info {
  @include mobile-padding();
  margin-top: 0;
  margin-bottom: 35px;

  color: $secondary-color-text;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .filters__info {
    @include text(20px, 30px);
  }
}
