.filter-form__fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.filter-form__box {
  @include mobile-padding();
  margin-bottom: 23px;

  &--contact {
    margin-bottom: 0;
  }

  &--button {
    padding-top: 15px;
  }
}

.filter-form__wrap {
  position: relative;

  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 13px;

  &--box {
    position: static;

    display: block;

    @include mobile-padding();
    padding-top: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filter-form__title-wrap {
  display: block;
}

.filter-form__title {
  position: relative;

  @include mobile-padding();
  padding-top: 28px;

  margin-top: 0;
  margin-bottom: 32px;

  @include text(24px, 24px);
  color: $secondary-color-text;

  &::before {
    content: "";

    position: absolute;
    top: 42px;
    right: 0;
    left: 230px;

    display: block;
    height: 3px;

    background-color: $secondary-color-bg;
  }

  &--contact {
    &::before {
      left: 222px;
    }
  }

  &--comment {
    &::before {
      left: 162px;
    }
  }

  &--plus {
    padding-top: 23px;
    margin-bottom: 31px;

    &::before {
      top: 38px;
      left: 184px;
    }
  }
}

.filter-form__title-text {
  position: relative;

  background-color: transparent;
}

.filter-form__list {
  @include list-reset();
  @include mobile-padding();
  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 1px solid $color-form-border;
  border-bottom: 1px solid $color-form-border;

  &--plus {
    padding-top: 0;

    border: none;
  }
}

.filter-form__item {
  padding-left: 45px;
  margin-bottom: 3px;

  &--plus {
    margin-bottom: 2px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.filter-form__control {
  flex-grow: 1;
  padding: 13px;
  margin-left: 13px;

  @include text(16px, 18px);
  font-family: $main-font;
  text-transform: uppercase;
  color: $fourth-color-text;

  border: 1px solid $color-control-border;

  &:hover {
    border-color: $color-control-border-hover;
  }

  &:focus {
    outline: 2px solid $color-control-border-active;
  }

  &:focus + .filter-form__icon {
    fill: $secondary-color-bg;
  }

  &:focus + .filter-form__label::before {
    outline: thin dotted blue;
    outline-offset: 2px;
  }

  &:disabled {
    @include disabled();
  }

  &:disabled + .filter-form__label {
    @include label-disabled();
  }

  &::placeholder {
    @include text(16px, 18px);
    font-family: $main-font;
    text-transform: uppercase;
    color: $main-color-text;

    opacity: 1;
  }

  &--number[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--data {
    height: 46px;

    &:focus:invalid {
      outline: 2px solid $color-error-border;
    }

    &:focus:invalid + .filter-form__icon {
      fill: $color-error-border;
    }
  }

  &--weight {
    padding-left: 15px;
    margin-left: 15px;
  }

  &--age {
    padding-left: 15px;
    margin-left: 15px;
  }

  &--email {
    padding-right: 50px;
    margin-left: 12px;
  }

  &--tel {
    padding-right: 50px;
    margin-left: 10px;
  }

  &--textarea {
    width: 100%;
    min-height: 150px;
    margin: 0;

    resize: none;
    overflow: auto;
  }
}

.filter-form__control--radio {
  &:checked + .filter-form__label--radio {
    &::after {
      content: "";

      position: absolute;
      top: 14px;
      left: -36px;

      display: block;
      width: 12px;
      height: 12px;

      background-color: $secondary-color-bg;
      border-radius: 50%;
    }
  }

  &:active + .filter-form__label--radio {
    color: $fourth-color-text-active;

    &::before {
      border-color: $color-list-border-active;
    }

    &::after {
      background-color: $secondary-color-bg-active;
    }
  }
}

.filter-form__label {
  @include text(16px, 18px);
  color: $fourth-color-text;
  text-transform: uppercase;
}

.filter-form__label--radio {
  position: relative;

  display: block;
  min-height: 40px;
  padding-top: 10px;

  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    &::before {
      border-color: $color-list-border-hover;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -45px;

    display: block;
    width: 30px;
    height: 30px;

    border: 1px solid $color-list-border;
    border-radius: 50%;
  }
}

.filter-form__control--checkbox {
  &:checked + .filter-form__label--checkbox {
    &::after {
      content: "";

      position: absolute;
      top: 11px;
      left: -39px;

      display: block;
      width: 20px;
      height: 11px;

      border: 2px solid $secondary-color-bg;
      border-top-style: none;
      border-right-style: none;

      transform: rotate(-45deg);
    }
  }

  &:active + .filter-form__label--checkbox {
    color: $fourth-color-text-active;

    &::before {
      border-color: $color-list-border-active;
    }

    &::after {
      border-color: $secondary-color-bg-active;
    }
  }
}

.filter-form__label--checkbox {
  position: relative;

  display: block;
  min-height: 40px;
  padding-top: 10px;

  cursor: pointer;
  user-select: none;

  &:hover,
  &:focus {
    &::before {
      border-color: $color-list-border-hover;
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -45px;

    display: block;
    width: 30px;
    height: 30px;

    border: 1px solid $color-list-border;
  }
}

.filter-form__icon {
  position: absolute;

  top: 18px;
  right: 16px;

  fill: $form-icon-color-bg;
}

.filter-form__icon--email {
  width: 17px;
  height: 13px;
}

.filter-form__icon--tel {
  top: 15px;
  right: 14px;

  width: 20px;
  height: 20px;
}

.filter-form__button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;

  @include text(16px, 20px);
  font-family: $main-font;

  border: none;

  &:disabled {
    @include disabled();
    cursor: default;
  }
}

.filter-form__note {
  margin: 0;
  margin-bottom: 35px;

  @include text(14px, 16px);
  font-family: $secondary-font;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .filter-form__title-text--contact {
    display: block;
    width: 196px;
  }
}

@media (min-width: $tablet-width) {
  .filter-form__container {
    max-width: 1280px;

    @include tablet-form-padding();
    margin-bottom: 46px;

    @include centering();
  }

  .filter-form__box {
    padding: 0;

    &--data {
      margin-bottom: 72px;
    }

    &--contact {
      max-width: 1280px;

      @include tablet-form-padding();
      margin-bottom: 37px;

      @include centering();
    }

    &--button {
      display: flex;
      align-items: center;
      max-width: 1280px;

      @include tablet-form-padding();
      margin-bottom: 55px;

      @include centering();
    }
  }

  .filter-form__wrapper {
    max-width: 1280px;

    @include tablet-form-padding();
    margin-bottom: 25px;

    @include centering();
  }

  .filter-form__list {
    padding-top: 23px;

    border: 1px solid $color-form-border;

    &--plus {
      display: flex;
      flex-wrap: wrap;
      padding: 0;

      margin-left: -60px;

      border: none;
    }
  }

  .filter-form__item {
    padding-left: 67px;

    &--plus {
      width: 285px;
      padding-left: 58px;
      margin-left: 60px;
      margin-bottom: 21px;
    }
  }

  .filter-form__wrap {
    margin-bottom: 19px;

    &--box {
      max-width: 1280px;

      @include tablet-form-padding();
      padding-bottom: 40px;

      @include centering();
    }
  }

  .filter-form__control {
    padding-top: 10px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 11px;
    margin-left: 17px;

    @include text(20px, 20px);

    &::placeholder {
      @include text(20px, 20px);
    }

    &--data {
      height: 53px;
    }

    &--weight {
      padding-left: 17px;
      margin-left: 21px;
    }

    &--email {
      padding-left: 17px;
      padding-right: 50px;
      margin-left: 21px;
    }

    &--tel {
      padding-left: 17px;
      padding-right: 50px;
      margin-left: 15px;
    }

    &--textarea {
      min-height: 175px;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-left: 0;
    }
  }

  .filter-form__label {
    @include text(20px, 20px);
  }

  .filter-form__control--radio {
    &:checked + .filter-form__label--radio {
      &::after {
        top: 13px;
        left: -48px;

        width: 18px;
        height: 18px;
      }
    }
  }

  .filter-form__label--radio {
    min-height: 50px;
    padding-top: 10px;

    &::before {
      top: 2px;
      left: -59px;

      width: 40px;
      height: 40px;
    }
  }

  .filter-form__control--checkbox {
    &:checked + .filter-form__label--checkbox {
      &::after {
        left: -48px;
      }
    }
  }

  .filter-form__label--checkbox {
    min-height: 50px;
    padding-top: 9px;

    &::before {
      top: 0;
      left: -58px;

      width: 40px;
      height: 40px;
    }
  }

  .filter-form__title-wrap {
    max-width: 1280px;

    @include tablet-padding();
    @include centering();
  }

  .filter-form__title {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 76px;

    @include text(36px, 36px);

    &::before {
      top: 50px;
      right: 0;
      left: 0;
    }

    &--comment {
      margin-bottom: 70px;
    }

    &--plus {
      margin-bottom: 56px;

      &::before {
        top: 43px;
      }
    }
  }

  .filter-form__title-text {
    padding-left: 40px;
    padding-right: 43px;

    background-color: $color-main-bg;

    z-index: 1;
  }

  .filter-form__icon {
    top: 20px;
    right: 19px;
  }

  .filter-form__icon--tel {
    top: 18px;
    right: 16px;
  }

  .filter-form__button {
    width: 283px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 60px;

    @include text(20px, 20px);
  }

  .filter-form__note {
    padding-top: 10px;
    padding-left: 1px;

    @include text(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .filter-form__container {
    display: flex;

    @include tablet-padding();
  }

  .filter-form__box {
    &--data {
      width: 570px;
      margin-right: 80px;
      margin-bottom: 0;
    }

    &--contact {
      display: flex;
      flex-wrap: wrap;

      @include tablet-padding();
    }

    &--button {
      @include tablet-padding();

      margin-bottom: 65px;
    }
  }

  .filter-form__wrap {
    &--contact {
      width: 570px;
      margin-right: 80px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &--box {
      @include tablet-padding();
    }
  }

  .filter-form__wrapper {
    @include tablet-padding();
  }

  .filter-form__list {
    width: 570px;

    &--plus {
      width: auto;
      margin-left: -80px;
      margin-bottom: 33px;
    }
  }

  .filter-form__item {
    &--plus {
      width: 245px;
      margin-left: 80px;
    }
  }

  .filter-form__title-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .filter-form__title {
    &--contact {
      padding-top: 23px;

      &::before {
        top: 45px;
      }
    }

    &--comment {
      margin-bottom: 72px;
    }
  }

  .filter-form__title-text {
    padding-left: 30px;
    padding-right: 42px;
  }

  .filter-form__button {
    width: 570px;
    margin-right: 80px;
  }
}
