.ingredient {
  padding-top: 12px;
  padding-bottom: 17px;

  border-bottom: 1px solid $color-nav-border;

  &:first-child {
    border-top: 1px solid $color-nav-border;
  }
}

.ingredient__title {
  width: 150px;
  margin-top: 0;
  margin-bottom: 14px;

  @include text(16px, 16px);
  color: $fourth-color-text;
  text-transform: uppercase;
}

.ingredient__properties {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 15px;

  @include text(14px, 14px);
  font-family: $secondary-font;
}

.ingredient__make-order {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  @include text(16px, 20px);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .ingredient {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-right: 37px;
    padding-left: 37px;
    padding-bottom: 27px;

    border: 1px solid $color-nav-border;
  }

  .ingredient__title {
    width: 200px;
    margin-bottom: 26px;

    @include text(20px, 20px);
  }

  .ingredient__properties {
    padding-top: 3px;
    margin-bottom: 0;

    @include text(16px, 20px);
  }

  .ingredient__price {
    width: 95px;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .ingredient {
    width: 895px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 17px;

    border: none;
    border-bottom: 1px solid $color-nav-border;

    &:first-child {
      border-top: 1px solid $color-nav-border;
    }
  }

  .ingredient__title {
    width: 245px;
    margin-bottom: 0;
  }

  .ingredient__properties {
    width: 285px;
    padding-top: 8px;
    margin-left: auto;
  }

  .ingredient__price {
    width: auto;

    text-align: left;

    &--water {
      padding-right: 6px;
    }
  }

  .ingredient__make-order {
    width: 245px;
    margin-left: 40px;
  }
}
