.page-main__title {
  width: 320px;

  padding-top: 15px;
  padding-bottom: 28px;

  @include mobile-padding();
  margin: 0 auto;
}

.page-main__promo {
  margin-bottom: 22px;
}

.page-main__additional-goods {
  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    width: auto;
    max-width: 1280px;

    padding-top: 53px;
    padding-bottom: 45px;

    @include tablet-padding();
    @include centering();
  }

  .page-main__additional-goods {
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__promo {
    margin-bottom: 80px;
  }

  .page-main__title {
    padding-top: 70px;
  }

  .page-main__additional-goods {
    margin-bottom: 85px;
  }
}
