.promo__title {
  margin-top: 0;
  margin-bottom: 25px;

  @include text(36px, 36px, 400);
  color: $third-color-text;
}

.promo__slogan {
  margin-top: 0;
  margin-bottom: 29px;

  @include text(14px, 14px, 400);
  color: $third-color-text;
  text-transform: uppercase;
}

.promo__link {
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;

  @include text(14px, 18px, 400);
}

@media (max-width: $mobile-width-only) {
  .promo {
    background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient($promo-color-bg);
    background-repeat: no-repeat;
    background-position: center 0, 0 0;
    background-size: 320px 305px, 100% 305px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg"), linear-gradient($promo-color-bg);
      background-repeat: no-repeat;
      background-position: center 0, 0 0;
      background-size: 320px 305px, 100% 305px;
    }
  }

  .promo__container {
    @include mobile-padding();

    text-align: center;
  }

  .promo__wrap {
    padding-top: 26px;
  }

  .promo__image-box {
    width: 280px;
    height: 271px;

    @include centering();
    margin-bottom: 3px;
  }
}

@media (min-width: $tablet-width) {
  .promo__container {
    max-width: 1280px;

    @include tablet-padding();
    @include centering();
  }

  .promo__wrap {
    position: relative;

    min-height: 842px;
    padding-top: 54px;
    padding-left: 90px;
  }

  .promo__title {
    position: relative;
    z-index: 1;

    margin-bottom: 40px;

    @include text(60px, 60px, 400);
    color: $secondary-color-text;
  }

  .promo__slogan {
    position: relative;
    z-index: 1;

    margin-bottom: 50px;

    @include text(20px, 20px, 400);
    color: $secondary-color-text;
  }

  .promo__link {
    position: relative;
    z-index: 1;

    width: 245px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 16px;

    @include text(20px, 20px, 400);
  }

  .promo__image-box {
    position: absolute;
    top: 255px;
    left: 0;

    width: 708px;
    height: 609px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      left: 50%;
      top: -290px;

      display: block;
      width: 50%;
      height: 100% + 50;

      background-color: $promo-color-bg;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 175px;
      background-size: 720px 696px;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo__wrap {
    min-height: 580px;
    padding-top: 105px;
    padding-left: 80px;
  }

  .promo__slogan {
    margin-bottom: 55px;
  }

  .promo__image-box {
    position: absolute;
    top: 25px;
    left: 450px;

    width: 552px;
    height: 499px;
  }
}
