.real-example {
  padding-top: 17px;
  padding-bottom: 38px;

  background-color: $third-color-bg;
}

.real-example__wrapper {
  @include mobile-padding();
}

.real-example__title {
  margin-top: 0;
  margin-bottom: 23px;
}

.real-example__text {
  margin-top: 0;
  margin-bottom: 25px;

  font-family: $secondary-font;
}

.real-example__list {
  width: 100%;
  border-collapse: collapse;
}

.real-example__tbody {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.real-example__trow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 19px;

  &--special {
    width: 123px;
  }

  &--costs {
    width: 100%;
  }
}

.real-example__tcell {
  display: block;
  padding: 0;

  color: $secondary-color-text;
  text-align: center;
  text-transform: uppercase;
}

.real-example__tcell--title {
  width: 85px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;

  background-color: $third-color-bg;
}

.real-example__tcell--special {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 18px;

  border: 1px solid $color-row-border;
  border-radius: 3px;

  order: -1;
}

.real-example__tcell--field {
  @include text(12px, 12px);
  font-family: $secondary-font;
  color: $main-color-text;
  text-transform: lowercase;
}

.real-example__tcell--value {
  @include text(24px, 24px);
}

.real-example__tcell--costs {
  @include text(14px, 20px);
  color: $secondary-color-text;
  font-family: $main-font;
  text-transform: uppercase;

  &:last-child {
    margin-left: 4px;
  }
}

.real-example__photo {
  width: 320px;
  padding-top: 15px;

  @include centering();
}

.real-example__photo-box {
  min-height: 240px;
  margin-bottom: 32px;
}

.real-example__photo-wrap {
  width: 320px;
  height: 240px;
  margin: 0;

  background-color: $third-color-bg;
}

@media (min-width: 325px) {
  .real-example__br {
    display: none;
  }
}

@media (max-width: 1299px) {
  .real-example__break {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .real-example {
    padding-top: 43px;
    padding-bottom: 70px;

    background-color: $color-main-bg;
    background-image: linear-gradient(180deg, $color-main-bg 619px, $third-color-bg 619px);
  }

  .real-example__wrapper {
    @include tablet-padding();
  }

  .real-example__title {
    margin-bottom: 65px;
  }

  .real-example__text {
    margin-bottom: 53px;

    @include text(16px, 24px);
  }

  .real-example__tbody {
    justify-content: flex-start;
  }

  .real-example__trow {
    margin-bottom: 0;

    &--special {
      width: 162px;
      margin-right: 42px;
    }

    &--costs {
      justify-content: flex-end;
      width: 220px;
      padding-top: 11px;
      padding-bottom: 5px;
      margin-left: auto;
    }
  }

  .real-example__tcell--title {
    width: 117px;
    padding-left: 8px;
    padding-right: 8px;

    background-color: $color-main-bg;
  }

  .real-example__tcell--special {
    padding-top: 15px;
  }

  .real-example__tcell--time {
    width: 140px;
    padding-left: 4px;
    padding-right: 4px;
  }

  .real-example__tcell--field {
    @include text(14px, 14px);
  }

  .real-example__tcell--value {
    @include text(30px, 37px);
  }

  .real-example__tcell--costs {
    @include text(20px, 20px);
  }

  .real-example__photo {
    width: 690px;
    padding-top: 83px;
  }

  .real-example__photo-box {
    min-height: 517px;
    margin-bottom: 19px;

    overflow: hidden;
  }

  .real-example__photo-wrap {
    width: 690px;
    height: 517px;
  }
}

@media (min-width: $desktop-width) {
  .real-example {
    padding-top: 0;

    background-image: linear-gradient(180deg, $color-main-bg 190px, $third-color-bg 190px);
  }

  .real-example__container {
    display: flex;
    width: 1280px;

    @include tablet-padding();
    @include centering();
  }

  .real-example__wrapper {
    width: 445px;
    padding: 0;
    padding-top: 55px;
  }

  .real-example__title {
    margin-bottom: 145px;
  }

  .real-example__text {
    margin-bottom: 68px;
  }

  .real-example__trow {
    &--special {
      margin-bottom: 58px;
    }

    &--costs {
      justify-content: flex-start;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      margin-left: 0;
    }
  }

  .real-example__tcell--title {
    background-color: $third-color-bg;
  }

  .real-example__tcell--costs {
    &:last-child {
      margin-left: 65px;
    }
  }

  .real-example__photo {
    padding-top: 0;
    margin: 0;
    margin-left: auto;
  }

  .real-example__photo-box {
    margin-bottom: 40px;
  }
}
