.site-list {
  padding: 0;

  list-style: none;
}

.site-list__link {
  @include text(20px, 20px, 500);

  color: $secondary-color-text;
  text-transform: uppercase;

  &[href]:hover,
  &[href]:focus {
    color: $secondary-color-text-hover;
  }

  &[href]:active {
    color: $secondary-color-text-active;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link {
    @include text(18px, 25px);
    color: $fourth-color-text;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    background-color: $secondary-color-bg;
  }

  .site-list__link {
    @include text(20px, 25px);
    color: $third-color-text;
  }

  &[href]:hover,
  &[href]:focus {
    color: $third-color-text-hover;
  }

  &[href]:active {
    color: $third-color-text-active;
  }
}
