.site-list {
  padding: 0;

  list-style: none;
}

.site-list__item--active .site-list__link {
  border-bottom: 2px solid $color-nav-link-border;
}

.site-list__link {
  @include text(20px, 20px, 500);

  color: $secondary-color-text;
  text-transform: uppercase;

  &[href]:hover,
  &[href]:focus {
    color: $secondary-color-text-hover;
  }

  &[href]:active {
    color: $secondary-color-text-active;
  }
}

@media (max-width: $mobile-width-only) {
  .site-list__item {
    padding-top: 21px;
    padding-bottom: 22px;

    border-bottom: 1px solid $color-nav-border;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 439px;
    padding-top: 18px;
  }

  .site-list__item {
    margin-left: 36px;

    &:first-child {
      margin-left: auto;
    }
  }

  .site-list__link {
    display: block;
    padding-bottom: 7px;
    margin-bottom: 10px;

    @include text(18px, 25px);
    color: $fourth-color-text;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    background-color: $secondary-color-bg;
  }

  .site-list__link {
    @include text(20px, 25px);
    color: $third-color-text;
  }

  &[href]:hover,
  &[href]:focus {
    color: $third-color-text-hover;
  }

  &[href]:active {
    color: $third-color-text-active;
  }
}
