.slider___toggle {
  padding: 0;

  font: inherit;

  @include text(16px, 20px);
  color: $secondary-color-text;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-width) {
  @include text(20px, 20px);
}
