.slider__list {
  position: relative;

  min-height: 240px;
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
}

.slider__item--before {
  z-index: 1;

  width: 50%;
}

.real-example__photo-image {
  height: 240px;
}

// .slider__item--show {
//   display: block;
// }

.slider___toggle {
  padding: 0;

  font: inherit;

  @include text(16px, 20px);
  color: $secondary-color-text;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-width) {
  .slider___toggle {
    @include text(20px, 20px);
  }
}
