.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 58%;

  @include list-reset();
  @include centering();
}

.social__item {
  margin-left: 15px;
  margin-right: 15px;
}

.social__link {
  display: block;
  width: 24px;

  text-align: center;

  &:hover,
  &:focus {
    .social__icon {
      fill: $secondary-color-bg;
    }
  }

  &:active {
    .social__icon {
      fill: $secondary-color-bg;
      fill-opacity: 0.3;
    }
  }
}

.social__icon {
  fill: $social-icon-color-bg;

  @include transition-time();
}

.social__icon--vkontakte {
  width: 22px;
  height: 12px;
}

.social__icon--instagram {
  width: 16px;
  height: 16px;
}

.social__icon--facebook {
  width: 10px;
  height: 19px;
}

@media (min-width: 325px) {
  .social__list {
    justify-content: space-between;
  }
}

@media (max-width: $mobile-width-only) {
  .social {
    padding-top: 22px;
    padding-bottom: 18px;

    border-bottom: 1px solid $color-footer-border;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 156px;
    justify-content: space-between;

    padding: 0;
  }

  .social__item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .social__link {
    width: 32px;
  }

  .social__icon--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .social__icon--facebook {
    width: 14px;
    height: 28px;
  }
}
