$main-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", "Tahoma", sans-serif;
$main-color-text: rgb(68, 68, 68);
$main-color-text-active: rgba(68, 68, 68, 0.3);
$secondary-color-text: rgb(17, 17, 17);
$secondary-color-text-hover: rgba(17, 17, 17, 0.6);
$secondary-color-text-active: rgba(17, 17, 17, 0.3);
$third-color-text: rgb(255, 255, 255);
$third-color-text-hover: rgba(255, 255, 255, 0.6);
$third-color-text-active: rgba(255, 255, 255, 0.3);
$fourth-color-text: rgb(34, 34, 34);
//bg and border
$color-nav-border: rgb(230, 230, 230);
$color-row-border: rgb(205, 205, 205);
$color-footer-border: rgb(217, 217, 217);
$color-product-package-border: rgb(234, 234, 234);
$color-nav-link-border: rgb(104, 183, 56);
$color-main-bg: rgb(255, 255, 255);
$secondary-color-bg: rgb(104, 183, 56);
$secondary-color-bg-hover: rgb(94, 170, 47);
$third-color-bg: rgb(242, 242, 242);
$fourth-color-bg: rgb(235, 235, 235);
$promo-color-bg: rgb(101, 169, 60);
$html-logo-color-bg: rgb(102, 102, 102);
$button-close-color-bg: rgb(34, 34, 34);
$button-close-color-bg-hover: rgba(34, 34, 34, 0.6);
$button-close-color-bg-active: rgba(34, 34, 34, 0.3);
//width
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
