$main-font: "Oswald", "Arial", sans-serif;
$main-color-text: rgb(68, 68, 68);
$secondary-color-text: rgb(17, 17, 17);
$secondary-color-text-hover: rgba(17, 17, 17, 0.6);
$secondary-color-text-active: rgba(17, 17, 17, 0.3);
$color-main-bg: rgb(255, 255, 255);
